/* // Tailwindcss */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    --radius: 4px;
    --tw-sidebar-width: 250px;
    --tw-sidebar-bg: #fbfaff;
    --primary-color: #ff5733;
    --primary-50: 236 253 245;
    --primary-100: 209 250 229;
    --primary-200: 167 243 208;
    --primary-300: 110 231 183;
    --primary-400: 52 211 153;
    --primary-500: 99 102 241;
    --primary-600: 5 150 105;
    --primary-700: 4 120 87;
    --primary-800: 6 95 70;
    --primary-900: 4 78 56;
    --primary-950: 2 44 34;
    --surface-0: 255 255 255;
    --surface-50: 248 250 252;
    --surface-100: 241 245 249;
    --surface-200: 226 232 240;
    --surface-300: 167 169 182;
    --surface-400: 148 163 184;
    --surface-500: 100 116 139;
    --surface-600: 71 85 105;
    --surface-700: 45 55 72;
    --surface-800: 30 41 59;
    --surface-900: 15 23 42;
    --surface-950: 3 6 23;
}

.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 0.625rem;
}

.animate-strip {
    animation: strip 2s infinite;
}

@keyframes strip {
    from {
        background-position: 50px 0;
    }
    to {
        background-position: 0 0;
    }
}

.placeholder-wave {
    mask-image: linear-gradient(130deg, #000 55%, rgba(0, 0, 0, 0.801) 75%, #000 95%);
    mask-size: 200% 100%;
    animation: placeholder-wave 2s linear infinite;
}

@keyframes placeholder-wave {
    100% {
        mask-position: -200% 0%;
    }
}

.animate-translate {
    animation: animate-translate !important;
    animation-duration: 0.8s !important;
    animation-fill-mode: both !important;
}

@keyframes animate-translate {
    100% {
        transform: translateY(40px);
        opacity: 100%;
    }
    0% {
        transform: translateY(0);
        opacity: 0%;
    }
}

@keyframes square {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-1000px) rotate(600deg);
    }
}

.swal2-title {
    @apply text-22
}

.form-range {
    @apply bg-slate-50
}

.card-h-100 {
    height: calc(100% - 20px) !important;
}

.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

select {
    font-size: 14px !important;
}

.nav-tabs ul li a {
    @apply dark:text-gray-100;
}

.nav-tabs.border-tab ul li .active {
    @apply border border-b-0 rounded-md border-violet-300 rounded-b-none text-violet-300 dark:text-violet-300 ;
}

.nav-tabs.border-b-tabs ul li .active {
    @apply border-violet-300 border-b-2 text-violet-300;
}

.nav-tabs.tab-pill ul li .active {
    @apply bg-violet-300 text-white;
}

.nav-tabs.chart-tabpill ul li .active {
    @apply bg-white text-violet-500 rounded dark:bg-zinc-800;
}

.nav-tabs.bar-tabs ul li .active {
    @apply bg-violet-300 text-white;
}

.accordion-item .accordion-header {
    @apply text-gray-200;
}

.accordion-item .accordion-header {
    @apply text-gray-500;
}

.accordion-item .accordion-header.active {
    @apply text-violet-500;
}


/* Custom Css */
@import "custom/general.css";
@import "custom/components.css";
@import "custom/form.css";
//@import "custom/login.css";
//@import "custom/auth.css";

@import "structure/sidebar.css";

/* @import "plugins/all-custom.css"; */
@import "plugins/custom-scrollbar.css";
//@import "plugins/range-slider.css";
//@import "plugins/glightbox.css";
//@import "plugins/sweetalert2.css";
//@import "plugins/alertify.css";
//@import "plugins/flatpickr.css";
//@import "plugins/switch.css";
//@import "plugins/choices.css";
//@import "plugins/ckeditor.css";
//@import "plugins/dropzon.css";
//@import "plugins/datatables.css";
//@import "plugins/table-responsive.css";
//@import "plugins/apexchart.css";
//@import "plugins/materialdesign.css";
//@import "plugins/map.css";
//@import "plugins/calender.css";

@import "custom/chat-loader.css";
